
/* index page */


body {
	background:#DCDCDC;
	}

.wrapper{
	text-align: center;
	display:grid;
	/*grid-template-areas:
	"header header header header header header"
	"navigation gallery gallery gallery gallery gallery"
	"navigation footer footer footer footer footer";*/
	grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
	grid-gap:1rem;
    width: 100vw;
    height: 100vh;
}
ul{
    margin: 0 auto;
}
ul li {
	list-style-type: none;
	line-height: 200%;
}
.wrapper > #header {
	grid-column:1 / 13;
	grid-row: 1 / 2;
	/*grid-area:header;*/
	background-color:#FF7F50;
	}

.wrapper > #navigation {
	text-align: center;
	grid-column: 1 / 2;
	grid-row: 2 / 12;
	background:#40E0D0;
	/*grid-area:navigation;*/
	border:1px solid black;
} 
#navigation a{
	margin:2px 1px;
	background-color:#eee;
	color:black;
	display:block;
	text-align: center;
	padding:10px;
	text-decoration: none;
	
}

#navigation a:hover {
	background-color:#ccc;
}

#navigation a#active-page {
	background-color:#4caf50;;
	color:white;
}

/*Styles for gallery*/

.wrapper  #gallery{
	background:#F0FFFF;
	grid-column: 2 / 13 ;
	grid-row: 2 / 12;
	/*grid-area: gallery;*/
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	overflow:scroll;
}
#gallery .column{
	flex:25%;
	max-width:25%;
	padding: 0 4px;
}

#gallery  img {
	margin-top:0.5rem;
	vertical-align:middle;
	width:100%;
	margin: 0.25rem;;
	transition: all 1s;
}
#gallery  img:hover {
	transform: scale(1.1);
}
@media screen and(max-width:800px){
	.column{
		flex:50%;
		max-width:50%;
	}
}
@media screen and(max-width:600px){
	.column{
		flex:100%;
		max-width:100%;
	}
}

/*Styles for footer*/
.wrapper > #footer {
	grid-column: 1 / 13;
	grid-row:12 / 13;
	/*grid-area:footer;*/
	background-color:#FFFACD;
	text-align: center;
}


/*Modal*/
.modal {
	display:none;
	position:fixed;
	z-index:1;
	padding-top:100px;
	left:0;
	top:0;
	width:100%;
	height: 100%;
	overflow:auto;
	background-color: rgb(0,0,0);
	background-color:rgba(0,0,0,0.4);
}

/*Modal Content*/
.modal-content {
	position:relative;
	background-color:#40E0D0;
	margin:auto;
	padding:20px;
	border:1px solid #888;
	width:70%;
	animation-name:animatetop;
	animation-duration:0.6s;
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.6s;
}
/*Add animation*/

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
  }
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
  }
/*The Close button*/
.close{
	color:firebrick;
	float:right;
	font-size:30px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color:aliceblue;
	text-decoration: none;
	cursor:pointer;
}

/*Styles for button*/

button#btn {
	background-color:white;
	border:2px solid black;
	color:black;
	padding:12px 16px;
	text-align:center;
	text-decoration: none;
	display: inline-block;
	font-size:12px;
	margin:2px 1px;
	transition-duration: 0.4s;
	cursor:pointer;
}
button#btn:hover{
	background-color:#008CBA;
	color:white;
}


/*Styles for History*/

.wrapper #firstRow{
	grid-column:2/12;
	grid-row:3/4;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
#firstRow .box{
	background-color:aquamarine;
	width:200px;
	height:200px;
	border-radius:20%;
}

.wrapper #secondRow{
	grid-column:2/12;
	grid-row:7/8;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}

#secondRow .box{
	background-color:brown;
	width:200px;
	height:200px;
	border-radius:20%;
}

.wrapper #thirdRow{
	grid-column:5/9;
	grid-row:11/12;
	display:flex;
	flex-direction:row;
	justify-content: space-evenly;
}

#thirdRow .box{
	background-color:goldenrod;
	width:200px;
	height:200px;
	border-radius: 20%;
}
/*Contact form styles*/
 .wrapper .contact{
   background-color:aqua;
	grid-column:4/9;
	grid-row:2/10;
}

.contact form{
	display:grid;
	grid-template-columns:1fr 1fr;
}




